.List {
  &-completed,
  &-in-progress,
  &-removed {
    list-style-type: none;

    &-item {
      display: flex;
      flex-direction: row;
    }

    &-completed,
    &-removed {
      display: none;
    }
  }
}