.List {
  margin: 20px 0;
  padding: 0;
  position: relative;

  &-completed,
  &-in-progress,
  &-removed {
    margin: 0 -20px;
    padding: 0;
    width: 100%;
    list-style-type: none;
    display: none;

    &-item {
      width: 100%;
      display: flex;
      flex-direction: row;
      padding: 15px 20px 5px 20px;
      border-bottom: 1px solid #EDEDED;

      &:last-child {
        border-bottom: none;
      }
    }

    &--show {
      display: block;
    }

    &--completed,
    &--removed {
      display: none;
    }
  }

  &-completed {
    &-item {
      &-check {
        padding: 0 5px;
      }

      &-label {
        flex: 2 1 0;
        padding: 4px 0 2px 20px;
        font-size: 18px;
        width: 100%;
        color: #323232;
        text-decoration-line: line-through;
      }
    }
  }

  &-in-progress {
    &-item {
      &:hover {
        cursor: pointer;
        background: #FFFFFF;
        box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
      }

      &-complete {
        padding: 0 5px;

        &:hover &--default {
          display: none;
        }

        &:hover &--hovered {
          display: block;
        }

        &--hovered {
          display: none;
        }
      }

      &-edit {
        flex: 2 1 0;
        padding-left: 20px;

        input {
          font-size: 18px;
          width: 100%;
          border: none;
          padding: 3px 0;
          color: #323232;
          outline: none;
        }
      }

      &-remove {
        padding: 0;
        margin: -5px 0 0 10px;

        &:hover &--default {
          display: none;
        }

        &:hover &--hovered {
          display: block;
        }

        &--hovered {
          display: none;
        }
      }
    }
  }

  &-removed {
    &-item {
      &-restore {
        padding: 0 5px;
        cursor: pointer;

        &:hover &--default {
          display: none;
        }

        &:hover &--hovered {
          display: block;
        }

        &--hovered {
          display: none;
        }
      }

      &-label {
        flex: 2 1 0;
        padding: 4px 0 2px 20px;
        font-size: 18px;
        width: 100%;
        color: #323232;
      }
    }
  }

  &-views {
    position: absolute;
    top: -50px;
    right: 0;

    &-ellipsis {
      position: absolute;
      right: 0;
      z-index: 1;
      display: inline-block;
      margin: 0;
      padding: 5px 10px;
      cursor: pointer;

      &:hover &--default {
        display: none;
      }

      &:hover &--hovered {
        display: block;
      }

      &--hovered {
        display: none;
      }
    }

    &-items {
      display: none;
      position: relative;
      z-index: 2;
      list-style-type: none;
      margin: 0;
      padding: 0;
      background: #FFFFFF;
      box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.15);
      border-radius: 5px 0px 5px 5px;

      &-name {
        cursor: pointer;
        margin: 0;
        padding: 10px 20px;
        text-align: center;
        text-transform: capitalize;
        font-size: 16px;
        color: #B7B7B7;
        border-bottom: 1px solid #EDEDED;

        &--selected,
        &:hover.List-views-items-name--selected {
          color: #3D82EB;
        }

        &:hover {
          color: #4E4E4E;
        }
      }
    }

    &--open {
      .List-views-items {
        display: block;
      }
    }
  }
}